
{{>navbar}}
<h1 class="text-center">Profile</h1>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <b>First Name:</b>
                {{first_name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Last Name:</b>
                {{last_name}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Email:</b>
                {{email}}
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <b>Rol:</b>
                {{rol}}
            </div>
        </li>
    </ul>
</div>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <a href="/api/session/logout" class="btn btn-primary" style="width: 10%;">Logout</a>
</div>

<footer class="bg-dark text-center text-white footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="m-0 name">Atlas Tech | 2023</p>
    </div>
</footer>